<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Siège ( Janvier )</nb-card-header>
      <nb-card-body>
        <ngx-d3-pie></ngx-d3-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Siège ( Janvier )</nb-card-header>
      <nb-card-body>
        <ngx-d3-bar></ngx-d3-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
 
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Advanced Pie</nb-card-header>
      <nb-card-body>
        <ngx-d3-advanced-pie></ngx-d3-advanced-pie>
      </nb-card-body>
    </nb-card>
  </div>

</div>
